* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
p {
  padding: 1em 0 0.5em;
  font-size: 1.1em;
  line-height: 1.2em;
}
a {
  text-decoration: none;
  color: #111;
}
a:visited {
  color: #111;
}
img {
  display: block;
}
h1 {
  font-family: courier;
  font-weight: 100;
  font-size: 4em;
  margin-bottom: 4rem;
}
main {
  margin-top: 100px;
}
.black-btn {
  padding: 0.5em 1em;
  border-radius: 500px;
  letter-spacing: 0.06em;
  background-color: #111;
  color: #fff;
}
.white-btn {
  padding: 0.5em 1em;
  border-radius: 500px;
  letter-spacing: 0.06em;
  background-color: #fff;
  color: #111;
  border: 1px solid #eee;
  display: inline-block;
  margin-top: 2em;
}

/* header ----------*/
header {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 30px #999;
}
header img {
  max-height: 24px;
}
header ul {
  display: flex;
  width: 40%;
  justify-content: space-around;
  flex-wrap: wrap;
  text-shadow: 0 0 1px #111;
}
header li {
  padding: 0.5em 1em;
}
header li:hover {
  background-color: #eaeaea;
}

/* section-1 ------------- */
.section-1 {
  padding: 2em 10% 0;
  text-align: center;
  min-height: 450px;
  position: relative;
}
.section-1 a{
  color: #fff;
}
.section-1 a:visited{
  color: #fff;
}
.bg-img {
  background-color: #f4d2ae;
}
.bg-img img {
  opacity: 0.2;
  max-width: 100%;
}
.section-1-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-1-text img {
  margin: 0 auto;
}
.section-1 h1 {
  font-weight: bolder;
  font-size: 3em;
}
.section-1 p {
  margin-bottom: 1em;
}
.section-1-diamonds {
  position: absolute;
  top: 47%;
  right: 10%;
  z-index: 9;
}
.section-1-diamonds p{
  padding: 0;
  width: 10px;
  height: 10px;
  border: solid 1px #111;
  margin: 1em;
  transform: rotate(45deg);

}
.section-1-diamonds p:hover {
  border: none;
  background-color: #fff;
}
/* section-2 ----------------------*/
.section-2 {
  padding: 4em 10% 0 10%;
  background-color: #f9f9f9;
}
.section-2 h1 {
  text-align: center;
}
.section-2-grid {
  display: grid;
  grid-template:
  'article-img-1 article-content-1'
  'article-content-2 article-img-2'
  'article-img-3 article-content-3';
  grid-gap: 2em;
}
.article-img-1 {
  grid-area: article-img-1;
}
.article-content-1 {
  grid-area: article-content-1;
  padding-left: 20%;
}
.article-img-2 {
  grid-area: article-img-2;
}
.article-content-2 {
  grid-area: article-content-2;
  padding-right: 20%;
}
.article-img-3 {
  grid-area: article-img-3;
}
.article-content-3 {
  grid-area: article-content-3;
  padding-left: 20%;
}
.section-2-grid img {
  max-width: 100%;
}
.section-2 h2 {
  font-weight: 900;
  font-size: 3em;
  margin-bottom: 0.5em;
}
.section-2 h3 {
  font-size: 2em;
  font-weight: lighter;
}
.section-2 p {
  color: #555;
}
.article-content p:last-child {
  margin-bottom: 2em;
}

/* section-3 ---------------------- */
.section-3 {
  padding: 2em 10% 6em 10%;
  text-align: center;
}
.section-3 a{
  color: #fff;
}
.section-3 a:visited{
  color: #fff;
}
.grid-photo-container {
  /* line-height: 0;
  column-count: 3;
  column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  margin-bottom: 2em; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-areas:
  'p1 p2 p3'
  'p4 p2 p6'
  'p4 p5 p6';
  grid-gap: 1em;
  margin-bottom: 4em;
}
.i1 {
  grid-area: p1;
}
.i2 {
  grid-area: p2;
}
.i3 {
  grid-area: p3;
}
.i4 {
  grid-area: p4;
}
.i5 {
  grid-area: p5;
}
.i6 {
  grid-area: p6;
}
.grid-photo-container img {
   width: 100%;
}
/* section-4 ---------------------- */
.section-4 {
  background-color: #fee1bf;
  padding: 4em 10%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.img-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.img-container div {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1em;
}
.img-container h3 {
  font-weight: 900;
  margin: 0.5em 0 1em;
}
.img-container div:first-child::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  position: relative;
  right: 10em;
  bottom: 11.5em;
}
.img-container div:last-child::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  position: relative;
  left: 10em;
  bottom: 11.5em;
}
.section-4-diamonds p{
  display: inline-block;
  padding: 0;
  width: 8px;
  height: 8px;
  border: solid 1px #111;
  margin: 0 0.5em;
  transform: rotate(45deg);
}
.section-4-diamonds p:hover {
  border: none;
  background-color: #fff;
}
/* section-5 ------------------------; */
.section-5 {
  padding: 4em 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "header  header"
  "left    right"
  "gallery gallery"
  "bullets bullets";
  grid-gap: 3em 6em;
  justify-items: center;
}
.section-5 h1 {
  grid-area: header;
}
.section-5-left {
  grid-area: left;
  justify-self: end;
  display: grid;
  justify-items: end;
  width: 60%;
}
.section-5-right {
  padding-top: 10px;
  grid-area: right;
  width: 60%;
  justify-self: start;
}
.section-5-gallery {
  grid-area: gallery;
  display: flex;
  justify-content: center;
}
.bullets {
  grid-area: bullets;
}
.section-5 h2 {
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 1rem;
}
.section-5-gallery img {
  padding: 5px;
  width: auto;
  max-height: 100px;
}
.bullets p{
  display: inline-block;
  padding: 0;
  width: 10px;
  height: 10px;
  border: solid 1px #111;
  border-radius: 50%;
}
.bullets p:hover {
  background-color: #111;
}
/* .section-6 --------------------- */
.section-6 {
  color: white;
  position: relative;
}
.section-6-bg {
  background-color: #292826;

}
.section-6-bg img {
  width: 100%;
  opacity: 0.2;
  min-height: 700px;
}
.section-6-content {
  position: absolute;
  top: 10%;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  padding: 0 5em;
}
.section-6-content div {
  max-width: 90%;
}
.section-6 h1 {
  grid-column: span 2;
  justify-self: center;
}
.section-6-left div {
  margin-bottom: 2em;
  padding-left: 4em;
  display: flex;
}
.section-6-left i {
  padding-right: 12px;
}
.phone::before {
  content: '\2706';
  padding-right: 5px;
}
.email::before {
  padding-right: 5px;
  content: '\2709';
}
.labeltrick {
  position: relative;
}
input[type=text] + label {
  position: absolute;
  left: 0;
  bottom: 5px;
  color: #6e757f;
  transition: 0.8s ease all;
}
textarea + label {
  position: absolute;
  left: 0;
  bottom: 100px;
  color: #6e757f;
  transition: 0.8s ease all;
}
form div {
  margin-bottom: 3em;
}
input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #999;
  width: 100%;
  color: #fff;
}
input[type=text]:focus, textarea {
  outline: none;
}
input[type=text]:focus + label,
input[type=text]:valid + label {
  color: #eee;
  bottom: 20px;
  font-size: 1.5em;
}
textarea:focus + label {
  color: #eee;
  font-size: 1.5em;
}
textarea {
  margin-top: 1em;
  background: transparent;
  border: none;
  border-top: 1px solid #999;
  width: 100%;
  color: #fff;
}
form .white-btn {
  width: 120px;
  text-align: center;
  margin-top: 6em;
}
.link-icons i {
  background-color: #fff;
  color: #111;
  padding: 0.5em 0.5em;
  border-radius: 50%;
  width: 35px;
  margin-right: 5px;
  text-align: center;
}
/* footer ---------------------- */
footer {
  color: #aaa69d;
  text-align: center;
  padding: 4em;
}
footer i,
footer span {
  color: #fecb96;
  margin: 0 0.6em;
}

@media only screen and (max-width: 768px) {
  /* body {
    font-size: 14px;
  } */
  h1 {
    margin-bottom: 1em;
    text-align: center;
  }
  section {
    padding: 10%;
  }
  /* section-1 ------------------ */
  .section-1-diamonds {
    display: none;
    position: static;
    margin: 0 auto;
  }
  .section-1-diamonds p {
    width: 6px;
    height: 6px;
  }
  .section-1 {
    min-height: 200px;
  }
  /* section-2 ------------------ */
  .section-2-grid {
    grid-template-areas:
    'article-content-1'
    'article-img-1'
    'article-content-2'
    'article-img-2'
    'article-content-3'
    'article-img-3'
  }
  .article-content-1,
  .article-content-2,
  .article-content-3 {
    padding: 2em 1em;
  }
  /* section-3 ------------------ */
  .section-3 h1 {
    margin-top: 5%;
  }
  .grid-photo-container {
    grid-template-areas:
    'p1 p2'
    'p4 p2'
    'p4 p5'
    'p3 p6'
    '.  p6'
  }
  /* section-4 ------------------- */
  .img-container div:first-child::after {
    display: none;
  }
  .img-container div:last-child::after {
    display: none;
  }
  .img-container {
    flex-flow: column;
  }
  .img-container div {
    margin-bottom: 4em;
  }
  /* section-5 ------------------- */
  .section-5 {
    grid-template-columns: 1fr;
    grid-gap: 2em;
    grid-template-areas:
    'header'
    'left'
    'right'
    'gallery'
    'bullets';
    align-items: center;
    justify-items: center;
  }
  .section-5-left,
  .section-5-right {
    justify-items: center;
    justify-self: center;
  }

  /* section-6 ------------------ */
  .section-6 {
    padding: 0;
  }
  .section-6-content {
    top: 5%;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    padding: 0;
  }
  .section-6-left div {
    margin-bottom: 1em;
    padding: 0;
  }
  .section-6 h1 {
    grid-column: span 1;
    margin: 2rem;
  }
  .section-6-bg img{
    min-height: 800px;
  }
  .section-6-right,
  .section-6-left {
    max-width: 100%;
    padding: 1em 0 0 3em;
  }
  form .white-btn {
    margin-top: 0;
  }
}
